@{
    ViewBag.Title = "Home Page";
}


@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CraftX</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/skel-layers.min.js"></script>
    <script src="~/Scripts/init.js"></script>
   


    <link href="~/Content/skel.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-xlarge.css" rel="stylesheet" />


</head>      
<body class="landing">

    <!-- Header -->
    <header id="header">

        @Html.Action("Navigation", "Cellars")


    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>CraftX</h2>
        <p>Craft Beer Exchange</p>
        <ul class="actions">
            <li>
                @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "button big" })
            </li>
        </ul>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1 special">
        <div class="container">
            <header class="major">
                <h2>A Home For Craft Beer Lovers!</h2>
                <p></p>
            </header>
            <div class="row 150%">
                <div class="4u 12u$(medium)">
                    <section class="box">

                        <h3>Create your own personal cellar</h3>
                        <p>Create you own personal cellar to showcase the beers you have to offer</p>
                    </section>
                </div>
                <div class="4u 12u$(medium)">
                    <section class="box">

                        <h3>View other users cellars offerings</h3>
                        <p>Search for beers by Style,Brewer or Name of Beer</p>
                    </section>
                </div>
                <div class="4u$ 12u$(medium)">
                    <section class="box">

                        <h3>Trade with other beer enthusiast</h3>
                        <p>Find something you like,make an offer and trade for that special beer</p>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <!-- Two -->
    <!-- Three -->
    @Html.Action("Contact", "Home")

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <section class="links">
                <div class="row">




                </div>
            </section>
            <div class="row">
                <div class="8u 12u$(medium)">
                    <ul class="copyright">
                        <li>&copy; John Sutton. All rights reserved.</li>

                    </ul>
                </div>
                <div class="4u$ 12u$(medium)">
                    <ul class="icons">
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>